html, body {
    height: 100%;
}
body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}
footer {
    flex-shrink: 0;
    bottom: 0;
}

#header {
    background-color:#8d99ae;
    padding: 10px 50px;
}

canva {
    display: block;
    height: 254px;
    width: 508px;
}

#footer {
    background-color:#8d99ae;
    align-items: center;
    padding: 50px 10px;
    color: #fff;
    width: 100%;
    display: flex;
    position: static;
    bottom: 0;
    flex-direction: column;
    margin-top: auto;
}

#btn-header-on {
    background-color: #2b2d42;
    color: #fff;
}
#btn-header-off {
    background-color: #2b2d424f;
    color: #fff;

}
#btn-header-on:hover {
    background-color: #2b2d42;
    color: #fff;
    text-decoration: underline;
}
#btn-header-off:hover {
    background-color: #2b2d424f;
    color: #fff;
    text-decoration: underline;
}

#btn-on {
    background-color: #ef233c;
    color: #fff;
}
#btn-off {
    background-color: #ef233b7e;
    color: #fff;
}